/*body{
    margin-top: 150px;
    align-items: center;
    text-align: center;
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #ffffeb;
}*/

.titulo{
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    color: #fbff7e;
}

.tinicial{
    text-align: center;
    font-family: Arial;
    color: #000000;
}

.img1{
    display: block;
    margin: 0 auto;
}