body{
    background-color: #ffffeb;
}

.titulo{
    margin-top: 50px;
    text-align: center;
    font-family: Arial;
    color: #c8cc55;
}

.tinicial{
    text-align: center;
    font-family: Arial;
    color: #000000;
}

img[alt="Jihyo"] {
    display: block;
    margin: 40px auto 0;
    width: 350px;
    height: 350px;
}


